@import '../../variables.css';

.Form {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-default);

  & .Row {
    display: flex;
    margin-bottom: var(--grid-step-size);
  }

  & .Actions {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid var(--color-content-border);
    padding-top: var(--grid-step-size);
    margin-top: calc(var(--grid-step-size) * 2);
  }
}
