@import '../../variables.css';

.Logo {
  /* Left blank intentionally */
}

.SizeS {
  width: 56px;
  height: 56px;
}

.SizeL {
  width: 120px;
  height: 120px;
}

@media (--device-tablet) {
  .SizeL {
    width: 100px;
    height: 100px;
  }
}
