@import '../../variables.css';

.Item {
  position: relative;
  flex: 0 0 auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;

  & .Icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc(var(--grid-step-size) * 2.5);
    padding-bottom: calc(var(--grid-step-size) * 2.5);
    color: var(--color-brand-white);
  }

  & .Items {
    position: absolute;
    left: var(--sidebar-width);
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
    max-width: calc(var(--grid-step-size) * 25);
    background: var(--color-brand-grey);
    z-index: var(--zindex-overlay);
    color: #848484;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    opacity: 0;
    pointer-events: none;
    transform: translate(-20px, 0);
    transition: opacity 200ms, transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
    will-change: opacity, transform;
  }

  &.IsNested {
    cursor: default;
    white-space: nowrap;
    padding: calc(var(--grid-step-size) * 1.6) calc(var(--grid-step-size) * 2);
  }

  &.IsNested.IsClickable {
    color: var(--color-brand-white);
  }

  &.IsTopLevel:hover,
  &.IsClickable:hover {
    cursor: pointer;
    background: var(--color-brand-highlight);
    color: var(--color-brand-white);

    & .Items {
      opacity: 1;
      pointer-events: all;
      transform: translate(0, 0);
    }
  }
}
