@import '../../variables.css';

.Sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  width: var(--sidebar-width);
  background: var(--color-brand-dark);
  padding: calc(var(--grid-step-size) * 1.5) 0;
}

.Brand {
  padding-bottom: calc(var(--grid-step-size) * 2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
