@import '../../variables.css';

.Sidebar {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  width: var(--sidebar-width);
  background: var(--color-brand-grey);
  padding: calc(var(--grid-step-size) * 2) 0;
}
