@import '../../variables.css';

.Message {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px 15px;
  margin-bottom: var(--grid-step-size);

  &.TypeError {
    background: #e7415d;
    color: #fff;
  }
}
