@import '../../variables.css';

.Message {
  flex-grow: 1;
  flex-shrink: 1;
  padding: 10px 15px;
  margin-bottom: var(--grid-step-size);
  font-family: var(--font-family-default);

  &.TypeInfo {
    background: var(--color-brand-mid-grey);
  }

  &.TypeError {
    background: #e7415d;
    color: #fff;
  }

  &.WithIcon {
    display: flex;

    & .Icon {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 0;
      flex-basis: auto;
      margin-right: var(--grid-step-size);
    }

    &. .Content {
      flex-grow: 1;
      flex-basis: 100%;
    }
  }
}
